<form id='js-creation-form'>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
    <label for="telephone">Phone</label>
    <input type="text" class="form-control" id="telephone" name="telephone" required>
  </div>

  <div class="form-group">
    <label for="opening_time">Opening time</label>
    <input type="text" class="form-control" id="opening_time" name="opening_time" required>
  </div>

  <div class="form-group">
    <label for="closure_time">Closure time</label>
    <input type="text" class="form-control" id="closing_time" name="closing_time" required>
  </div>

  <div class="form-group">
    <label for="type">Kind</label>
    <input type="text" class="form-control" id="type" name="type" required>
  </div>


  <div class="form-group">
    <label for="website">Website</label>
    <input type="text" class="form-control" id="website" name="website">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>