<form id='js-creation-form'>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
    <label for="telephone">Teléfono</label>
    <input type="text" class="form-control" id="telephone" name="telephone" required>
  </div>

  <div class="form-group">
    <label for="opening_time">Hora de apertura</label>
    <input type="text" class="form-control" id="opening_time" name="opening_time" required>
  </div>

  <div class="form-group">
    <label for="closing_time">Hora de cierre</label>
    <input type="text" class="form-control" id="closing_time" name="closing_time" required>
  </div>

  <div class="form-group">
    <label for="type">Tipo de centro</label>
    <input type="text" class="form-control" id="type" name="type" required>
  </div>

  <div class="form-group">
    <label for="municipio">Municipio</label>
    <input type="text" class="form-control" id="municipio" name="municipio" required>
  </div>

  <div class="form-group">
    <label for="website">Sitio web</label>
    <input type="text" class="form-control" id="website" name="website">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>